<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updateAt="25-04-21 16:29" createdAt="24-04-21" 
  notes="We have 2 bugs that are full, one with plastic and one with grass"></app-pickup-call-card>
  <app-pickup-call-card status="processing" updateAt="24-04-21 10:29" createdAt="23-04-21" 
  notes="We have 2 bugs that are full"></app-pickup-call-card>
  <app-pickup-call-card status="finished" updateAt="23-04-21 05:00" createdAt="22-04-21" value="$ 15,00"></app-pickup-call-card>
</ion-content>
