<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fitlife</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"/>
      </ion-avatar>
      <ion-label>
        <h1>Jiten Kumar</h1>
        <p>Gatehred: <span class="money">$ 15,00</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pickup-call-card status="hold" updateAt="25-04-21 16:29" createdAt="24-04-21" 
  notes="We have 2 bugs that are full, one with plastic and one with grass">
    <ion-card-header header>
      <ion-card-subtitle>
        Last Pickup Call
      </ion-card-subtitle>
    </ion-card-header>
    <ion-button color="success" fill="clear" size="full" footer (click)="allPickupCalls()">See All...</ion-button>
  </app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="newPickupCall()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
